

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <div class="container ion-page  ion-padding-top ion-padding-bottom" style="margin-top: 10%; margin-bottom: 10%">
    <ion-grid class="ion-justify-content-center ion-align-items-center" style="height: 100%;">
      <ion-card >
        <ion-card-header>
          <ion-card-title class="ion-text-center">{{ currentTime }}</ion-card-title>
        </ion-card-header>
      </ion-card>
      <!-- ingresso -->
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-button id="open-action-sheet-ingresso" color="success" size="large"
                    [disabled]="!isNearLocation || user?.checkInTime || !isLocationEnabled"
                    (click)="onCheckIn()">Ingresso</ion-button>
      </ion-row>

      <!-- pausa pranzo -->
      <!-- pausa pranzo -->
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-button *ngIf="!user?.checkOutTimePausa" color="secondary" size="large"
                    [disabled]="!isNearLocation || !isLocationEnabled"
                    (click)="onStartBreak('Pausa')">Inizio Pausa</ion-button>

        <ion-button *ngIf="user?.checkOutTimePausa && !user?.checkInTimePausa" color="secondary" size="large"
                    [disabled]="!isNearLocation || !isLocationEnabled"
                    (click)="onEndBreak()">Fine Pausa</ion-button>

        <ion-button *ngIf="user?.checkOutTimePausa && user?.checkInTimePausa" color="secondary" size="large"
                    disabled>Pausa completata</ion-button>
      </ion-row>


      <!-- uscita -->
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-button id="open-action-sheet-uscita" color="danger" size="large"
                    [disabled]="!isNearLocation || user?.checkOutTime || !isLocationEnabled"
        >Uscita</ion-button>
        <ion-action-sheet trigger="open-action-sheet-uscita" [buttons]="actionSheetButtonsUscita"
                          (didDismiss)="handleActionSheetDismiss($event)"></ion-action-sheet>
      </ion-row>

<!--      USCITA BREVE-->
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-button id="open-action-sheet-PERMESSO"  size="small" class="custom-permesso-button"
                   >Allontanamento Breve</ion-button>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-align-items-center ion-padding">
        <ion-button (click)="setOpen(true)" class="ion-float-end ion-padding" color="secondary">Riepilogo
          <ion-icon slot="icon-only" name="eye"></ion-icon></ion-button>
      </ion-row>

    </ion-grid>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of a person's head" src="assets/img/Paomedia-Small-N-Flat-Map-map-marker.512.png" />
        </ion-thumbnail>
        <ion-label *ngIf="currentAddress"> {{ currentAddress }}</ion-label>
      </ion-item>

  </div>

</ion-content>

<ion-modal [isOpen]="isModalOpen" (ionModalWillDismiss)="handleModalDismiss()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Tot.Ore: {{getFormattedTotOre()}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)"><ion-icon name="close"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div *ngIf="timbrature.length > 0">
        <ion-card *ngFor="let timbratura of timbrature">
          <ion-card-header>
            <ion-card-title>{{ timbratura.type }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ timbratura.time | date:'dd/MM/yyyy HH:mm'}}
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="user?.checkInTime && user?.checkOutTime && user?.checkOutTimePausa && user?.checkInTimePausa" color="tertiary">
          <ion-card-header>
            <ion-card-title>Totale Ore</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ user.totOre }}
          </ion-card-content>
        </ion-card>
      </div>
      <ion-card *ngIf="timbrature.length === 0">
        <ion-card-header>
          <ion-card-title>Nessuna timbratura effettuata.</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>

