ion-card {
  --background: #0163aa;
  --color: #ffffff;
}

ion-card-title {
  --color: #ffffff;
}

ion-card-subtitle {
  --color: #fbfbfb;
}
.custom-permesso-button {
  --background: rgba(145, 141, 141, 0.66); /* Colore di sfondo custom */
  --color: #ffffff; /* Colore del testo custom */
  border-radius: 12px; /* Angoli arrotondati */
  padding: 12px 24px; /* Spaziatura */
  font-size: 16px; /* Dimensione del testo */

}
