/* Contenitore della barra di avanzamento */
.progress-container {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Barra di avanzamento più moderna */
ion-progress-bar {
  height: 12px;
  border-radius: 6px;
  --background: #e0e0e0;
  --progress-background: linear-gradient(90deg, #4CAF50, #2196F3);
  transition: width 0.5s ease-in-out;
}

/* Stile per i pulsanti */
/* Stile per i pulsanti Material Design */
.custom-button {
  width: 100%; /* Assicura che tutti abbiano la stessa larghezza */
  border-radius: 18px;
  font-size: 18px;
  font-weight: bold;
  padding: 14px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  text-align: center;
}

/* Pulsante uscita con lo stesso stile */
#open-action-sheet-uscita {
  width: 100%; /* Stessa larghezza degli altri pulsanti */
  font-size: 18px;
  font-weight: bold;
  padding: 14px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
}

#open-action-sheet-uscita:hover {
  transform: scale(1.03);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.custom-button:hover {
  transform: scale(1.03);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

/* Permesso breve con stile più accattivante */
.custom-permesso-button {
  --background: linear-gradient(135deg, #555555, #222222);
  --color: #ffffff;
  border-radius: 12px;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
}
.custom-riepilogo-button {
  --background: linear-gradient(135deg, #3dc2ff, #222222);
  --color: #ffffff;
  border-radius: 12px;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
}
.custom-button[color="warning"] {
  --color: white !important; /* Forza il colore del testo in bianco */
  --ion-color-warning-contrast: white !important; /* Forza il contrasto del testo su fondo giallo */
}
.custom-button[color="success"] {
  --color: white !important; /* Forza il colore del testo in bianco */
  --ion-color-success-contrast: white !important; /* Forza il contrasto del testo su fondo giallo */
}
